In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("books.csv")
df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
4,12,13335037,13335037,13155899,210,62024035,9.780062e+12,Veronica Roth,2011.0,Divergent,...,1903563,2216814,101023,36315,82870,310297,673028,1114304,https://images.gr-assets.com/books/1328559506m...,https://images.gr-assets.com/books/1328559506s...

In [21]:
df.shape

(1354, 23)

In [24]:
df.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [13]:
columns_to_drop = ['work_id', 'isbn', 'isbn13', 'image_url', 'small_image_url']
df = df.drop(columns=columns_to_drop)

In [14]:
rows_with_null = df[df.isnull().any(axis=1)]
print("\nRows with Null Values:")
print(rows_with_null)

Rows with Null Values:
      book_id  goodreads_book_id  best_book_id  books_count  \
51        220            3609760       3609760           20
72        321              10365         10365           69
73        324           16068905      16068905           80
138       636           11260526      11260526           14
150       717           11742691      11742691           11
...       ...                ...           ...          ...
1326     9709           13031445      13031445           10
1329     9740            4837112       4837112            6
1332     9752           20821376      20821376           27
1337     9843              71867         71867           43
1338     9849              36638         36638           48

                       authors  original_publication_year  \
51              Mark Cotta Vaz                        NaN
72                Wilson Rawls                     1961.0
73              Rainbow Rowell                     2013.0
138             Mark Cotta Vaz                     2011.0
150                  Kate Egan                     2012.0
...                        ...                        ...
1326       The Harvard Lampoon                     2012.0
1329              Rick Riordan                     2009.0
1332              Meg Wolitzer                     2014.0
1337              John Marsden                     1999.0
1338  Joan Aiken, Pat Marriott                     1962.0

                                         original_title  \
51    Twilight: The Complete Illustrated Movie Compa...
72                             Where the Red Fern Grows
73                                                  NaN
138                                                 NaN
150                                                 NaN
...                                                 ...
1326                                                NaN
1329               Percy Jackson and the Sword of Hades
1332                                                NaN
1337                             The Other Side of Dawn
1338                    The Wolves of Willoughby Chase

                                                  title language_code  \
51    Twilight: The Complete Illustrated Movie Compa...         en-US
72                             Where the Red Fern Grows           NaN
73                                              Fangirl           eng
138   The Twilight Saga Breaking Dawn Part 1: The Of...           eng
150   The Hunger Games: Official Illustrated Movie C...         en-US
...                                                 ...           ...
1326                         The Hunger Pains: A Parody         en-GB
1329  Percy Jackson and the Sword of Hades (Percy Ja...           NaN
1332                                            Belzhar           NaN
1337              The Other Side of Dawn (Tomorrow, #7)           NaN
1338  The Wolves of Willoughby Chase (The Wolves Chr...           NaN

      average_rating  ratings_count  work_ratings_count  \
51              4.23         291411              291899
72              4.04         268548              280179
73              4.12         340379              371730
138             4.30         188136              188274
150             4.51         119915              120075
...              ...            ...                 ...
1326            3.89           8619                8833
1329            4.28          14502               14622
1332            3.46          10432               11634
1337            4.21          10443               11682
1338            4.08          13463               14743

      work_text_reviews_count  ratings_1  ratings_2  ratings_3  ratings_4  \
51                        532       6862      11019      48008      67939
72                       8725       6585      15232      53560      89699
73                      39353       8626      16973      60097     121431
138                       134       2655       6588      29411      42475
150                       384       1968       2226      10191      24365
...                       ...        ...        ...        ...        ...
1326                      728        730        770       1476       1660
1329                      357        125        368       2272       4327
1332                     2208        477       1524       3832       3730
1337                      341         47        265       1895       4448
1338                      947        193        581       2901       5305

      ratings_5
51       158071
72       115103
73       164603
138      107145
150       81325
...         ...
1326       4197
1329       7530
1332       2071
1337       5027
1338       5763

[157 rows x 18 columns]

In [15]:
df.dropna(inplace=True)

In [16]:
df.shape

(1197, 18)

In [18]:
duplicate_rows = df[df.duplicated()]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
Empty DataFrame
Columns: [book_id, goodreads_book_id, best_book_id, books_count, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []

In [30]:
harry_potter_df = df[df['title'].str.contains('Harry Potter')]

In [31]:
harry_potter_df.shape

(11, 23)

In [32]:
harry_potter_df.drop_duplicates(inplace=True)

<ipython-input-32-3be7da392e4d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harry_potter_df.drop_duplicates(inplace=True)

In [33]:
harry_potter_df.shape

(11, 23)

In [41]:
harry_potter_df['total_ratings'] = harry_potter_df['ratings_1'] + harry_potter_df['ratings_2'] + harry_potter_df['ratings_3'] + harry_potter_df['ratings_4'] + harry_potter_df['ratings_5']

<ipython-input-41-086740a25b8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harry_potter_df['total_ratings'] = harry_potter_df['ratings_1'] + harry_potter_df['ratings_2'] + harry_potter_df['ratings_3'] + harry_potter_df['ratings_4'] + harry_potter_df['ratings_5']

In [43]:
most_selling_books = harry_potter_df.groupby('title')['total_ratings'].sum()
most_selling_books

title
Harry Potter Boxset (Harry Potter, #1-7)                                                                               204125
Harry Potter Collection (Harry Potter, #1-6)                                                                            26274
Harry Potter Schoolbooks Box Set: Two Classic Books from the Library of Hogwarts School of Witchcraft and Wizardry      11732
Harry Potter and the Chamber of Secrets (Harry Potter, #2)                                                            1906199
Harry Potter and the Deathly Hallows (Harry Potter, #7)                                                               1847395
Harry Potter and the Goblet of Fire (Harry Potter, #4)                                                                1868642
Harry Potter and the Half-Blood Prince (Harry Potter, #6)                                                             1785676
Harry Potter and the Order of the Phoenix (Harry Potter, #5)                                                          1840548
Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)                                                           1969375
Harry Potter and the Sorcerer's Stone (Harry Potter, #1)                                                              4800065
The Magical Worlds of Harry Potter: A Treasury of Myths, Legends, and Fascinating Facts                                 15145
Name: total_ratings, dtype: int64

In [38]:
harry_potter_df['average_rating'] = harry_potter_df['average_rating'].astype(float)

<ipython-input-38-39a35a381676>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harry_potter_df['average_rating'] = harry_potter_df['average_rating'].astype(float)

In [45]:
harry_potter_df['average_rating'] = harry_potter_df[['ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5']].mean(axis=1)

<ipython-input-45-7fb65d8fc19a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harry_potter_df['average_rating'] = harry_potter_df[['ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5']].mean(axis=1)

In [46]:
average_rating = harry_potter_df['average_rating'].mean()
average_rating

295912.2909090909